./defaultconfigs
./logs
./natives
./patchouli_books
./resourcepacks
./saves
./schematics
./server-resource-packs
./XaeroWaypoints
./XaeroWaypoints_BACKUP032021
./XaeroWorldMap
emi.json
options.txt
patchouli_data.json
servers.dat
servers.data_old
smp.jar
userscache.json
usernamecache.json
